// Default Theme Color Palette

// Red
$red-light: #f38ba8;
$red-dark: #d20f39;

// Pink
$pink-light: #f5c2e7;
$pink-dark: #ea76cb;

// Purple
$purple-light: #cba6f7;
$purple-dark: #8839ef;

// Blue
$blue-light: #89b4fa;
$blue-dark: #1e66f5;

// Teal
$teal-light: #94e2d5;
$teal-dark: #179299;

// Green
$green-light: #a6e3a1;
$green-dark: #40a02b;

// Yellow
$yellow-light: #f9e2af;
$yellow-dark: #df8e1d;

// Orange
$orange-light: #fab378;
$orange-dark: #fe640b;

// Grey
$grey-050: #eff1f5;
$grey-100: #e6e9ef;
$grey-150: #dce0e8;
$grey-200: #ccd0da;
$grey-250: #bcc0cc;
$grey-300: #8c8fa1;
$grey-350: #7c7f93;
$grey-400: #6c6f85;
$grey-450: #5c5f77;
$grey-500: #585b70;
$grey-550: #45475a;
$grey-600: #313244;
$grey-650: #313244;
$grey-700: #1e1e2e;
$grey-750: #181825;
$grey-800: #11111b;
$grey-850: #1e1e2e;
$grey-900: #181825;
$grey-950: #11111b;



// White
$white: #eff1f5;

// Black
$black: #11111b;

// Button
$button-close: if($variant == "light", #d20f39, #f38ba8);
$button-max: if($variant == "light", #40a02b, #a6e3a1);
$button-min: if($variant == "light", #df8e1d, #f9e2af);

// Theme
$default-light: $purple-light;
$default-dark: $purple-dark;
