// Based on 2014 Material Design color palettes:
// https://material.io/design/color/#tools-for-picking-colors

// Red
$red-50: #F28FAD;
$red-100: #F28FAD;
$red-200: #F28FAD;
$red-300: #F28FAD;
$red-400: #F28FAD;
$red-500: #F28FAD;
$red-600: #F28FAD;
$red-700: #F28FAD;
$red-800: #F28FAD;
$red-900: #F28FAD;
$red-a100: #F28FAD;
$red-a200: #F28FAD;
$red-a400: #F28FAD;
$red-a700: #F28FAD;

// Pink
$pink-50: #F5C2E7;
$pink-100: #F5C2E7;
$pink-200: #F5C2E7;
$pink-300: #F5C2E7;
$pink-400: #F5C2E7;
$pink-500: #F5C2E7;
$pink-600: #F5C2E7;
$pink-700: #F5C2E7;
$pink-800: #F5C2E7;
$pink-900: #F5C2E7;
$pink-a100: #F5C2E7;
$pink-a200: #F5C2E7;
$pink-a400: #F5C2E7;
$pink-a700: #F5C2E7;

// Purple
$purple-50: #DDB6F2;
$purple-100: #DDB6F2;
$purple-200: #DDB6F2;
$purple-300: #DDB6F2;
$purple-400: #DDB6F2;
$purple-500: #DDB6F2;
$purple-600: #DDB6F2;
$purple-700: #DDB6F2;
$purple-800: #DDB6F2;
$purple-900: #DDB6F2;
$purple-a100: #DDB6F2;
$purple-a200: #DDB6F2;
$purple-a400: #DDB6F2;
$purple-a700: #DDB6F2;

// Deep Purple
$deep-purple-50: #DDB6F2;
$deep-purple-100: #DDB6F2;
$deep-purple-200: #DDB6F2;
$deep-purple-300: #DDB6F2;
$deep-purple-400: #DDB6F2;
$deep-purple-500: #DDB6F2;
$deep-purple-600: #DDB6F2;
$deep-purple-700: #DDB6F2;
$deep-purple-800: #DDB6F2;
$deep-purple-900: #DDB6F2;
$deep-purple-a100: #DDB6F2;
$deep-purple-a200: #DDB6F2;
$deep-purple-a400: #DDB6F2;
$deep-purple-a700: #DDB6F2;

// Indigo
$indigo-50: #89DCEB;
$indigo-100: #89DCEB;
$indigo-200: #89DCEB;
$indigo-300: #89DCEB;
$indigo-400: #89DCEB;
$indigo-500: #89DCEB;
$indigo-600: #89DCEB;
$indigo-700: #89DCEB;
$indigo-800: #89DCEB;
$indigo-900: #89DCEB;
$indigo-a100: #89DCEB;
$indigo-a200: #89DCEB;
$indigo-a400: #89DCEB;
$indigo-a700: #89DCEB;

// Blue
$blue-50: #96CDFB;
$blue-100: #96CDFB;
$blue-200: #96CDFB;
$blue-300: #96CDFB;
$blue-400: #96CDFB;
$blue-500: #96CDFB;
$blue-600: #96CDFB;
$blue-700: #96CDFB;
$blue-800: #96CDFB;
$blue-900: #96CDFB;
$blue-a100: #96CDFB;
$blue-a200: #96CDFB;
$blue-a400: #96CDFB;
$blue-a700: #96CDFB;

// Light Blue
$light-blue-50: #89DCEB;
$light-blue-100: #89DCEB;
$light-blue-200: #89DCEB;
$light-blue-300: #89DCEB;
$light-blue-400: #89DCEB;
$light-blue-500: #89DCEB;
$light-blue-600: #89DCEB;
$light-blue-700: #89DCEB;
$light-blue-800: #89DCEB;
$light-blue-900: #89DCEB;
$light-blue-a100: #89DCEB;
$light-blue-a200: #89DCEB;
$light-blue-a400: #89DCEB;
$light-blue-a700: #89DCEB;

// Cyan
$cyan-50: #89DCEB;
$cyan-100: #89DCEB;
$cyan-200: #89DCEB;
$cyan-300: #89DCEB;
$cyan-400: #89DCEB;
$cyan-500: #89DCEB;
$cyan-600: #89DCEB;
$cyan-700: #89DCEB;
$cyan-800: #89DCEB;
$cyan-900: #89DCEB;
$cyan-a100: #89DCEB;
$cyan-a200: #89DCEB;
$cyan-a400: #89DCEB;
$cyan-a700: #89DCEB;

// Teal
$teal-50: #B5E8E0;
$teal-100: #B5E8E0;
$teal-200: #B5E8E0;
$teal-300: #B5E8E0;
$teal-400: #B5E8E0;
$teal-500: #B5E8E0;
$teal-600: #B5E8E0;
$teal-700: #B5E8E0;
$teal-800: #B5E8E0;
$teal-900: #B5E8E0;
$teal-a100: #B5E8E0;
$teal-a200: #B5E8E0;
$teal-a400: #B5E8E0;
$teal-a700: #B5E8E0;

// Green
$green-50: #ABE9B3;
$green-100: #ABE9B3;
$green-200: #ABE9B3;
$green-300: #ABE9B3;
$green-400: #ABE9B3;
$green-500: #ABE9B3;
$green-600: #ABE9B3;
$green-700: #ABE9B3;
$green-800: #ABE9B3;
$green-900: #ABE9B3;
$green-a100: #ABE9B3;
$green-a200: #ABE9B3;
$green-a400: #ABE9B3;
$green-a700: #ABE9B3;

// Light Green
$light-green-50: #ABE9B3;
$light-green-100: #ABE9B3;
$light-green-200: #ABE9B3;
$light-green-300: #ABE9B3;
$light-green-400: #ABE9B3;
$light-green-500: #ABE9B3;
$light-green-600: #ABE9B3;
$light-green-700: #ABE9B3;
$light-green-800: #ABE9B3;
$light-green-900: #ABE9B3;
$light-green-a100: #ABE9B3;
$light-green-a200: #ABE9B3;
$light-green-a400: #ABE9B3;
$light-green-a700: #ABE9B3;

// Lime
$lime-50: #F8BD96;
$lime-100: #F8BD96;
$lime-200: #F8BD96;
$lime-300: #F8BD96;
$lime-400: #F8BD96;
$lime-500: #F8BD96;
$lime-600: #F8BD96;
$lime-700: #F8BD96;
$lime-800: #F8BD96;
$lime-900: #F8BD96;
$lime-a100: #F8BD96;
$lime-a200: #F8BD96;
$lime-a400: #F8BD96;
$lime-a700: #F8BD96;

// Yellow
$yellow-50: #FAE3B0;
$yellow-100: #FAE3B0;
$yellow-200: #FAE3B0;
$yellow-300: #FAE3B0;
$yellow-400: #FAE3B0;
$yellow-500: #FAE3B0;
$yellow-600: #FAE3B0;
$yellow-700: #FAE3B0;
$yellow-800: #FAE3B0;
$yellow-900: #FAE3B0;
$yellow-a100: #FAE3B0;
$yellow-a200: #FAE3B0;
$yellow-a400: #FAE3B0;
$yellow-a700: #FAE3B0;

// Amber
$amber-50: #F5E0DC;
$amber-100: #F5E0DC;
$amber-200: #F5E0DC;
$amber-300: #F5E0DC;
$amber-400: #F5E0DC;
$amber-500: #F5E0DC;
$amber-600: #F5E0DC;
$amber-700: #F5E0DC;
$amber-800: #F5E0DC;
$amber-900: #F5E0DC;
$amber-a100: #F5E0DC;
$amber-a200: #F5E0DC;
$amber-a400: #F5E0DC;
$amber-a700: #F5E0DC;

// Orange
$orange-50: #F8BD96;
$orange-100: #F8BD96;
$orange-200: #F8BD96;
$orange-300: #F8BD96;
$orange-400: #F8BD96;
$orange-500: #F8BD96;
$orange-600: #F8BD96;
$orange-700: #F8BD96;
$orange-800: #F8BD96;
$orange-900: #F8BD96;
$orange-a100: #F8BD96;
$orange-a200: #F8BD96;
$orange-a400: #F8BD96;
$orange-a700: #F8BD96;

// Deep Orange
$deep-orange-50: #F2CDCD;
$deep-orange-100: #F2CDCD;
$deep-orange-200: #F2CDCD;
$deep-orange-300: #F2CDCD;
$deep-orange-400: #F2CDCD;
$deep-orange-500: #F2CDCD;
$deep-orange-600: #F2CDCD;
$deep-orange-700: #F2CDCD;
$deep-orange-800: #F2CDCD;
$deep-orange-900: #F2CDCD;
$deep-orange-a100: #F2CDCD;
$deep-orange-a200: #F2CDCD;
$deep-orange-a400: #F2CDCD;
$deep-orange-a700: #F2CDCD;

// Brown
$brown-50: #988BA2;
$brown-100: #988BA2;
$brown-200: #988BA2;
$brown-300: #988BA2;
$brown-400: #988BA2;
$brown-500: #988BA2;
$brown-600: #988BA2;
$brown-700: #988BA2;
$brown-800: #988BA2;
$brown-900: #988BA2;

// Grey
$grey-50: #C3BAC6;
$grey-100: #C3BAC6;
$grey-200: #C3BAC6;
$grey-300: #C3BAC6;
$grey-400: #C3BAC6;
$grey-500: #C3BAC6;
$grey-600: #C3BAC6;
$grey-700: #C3BAC6;
$grey-800: #C3BAC6;
$grey-900: #C3BAC6;

// Blue Grey
$blue-grey-50: #6E6C7E;
$blue-grey-100: #6E6C7E;
$blue-grey-200: #6E6C7E;
$blue-grey-300: #6E6C7E;
$blue-grey-400: #6E6C7E;
$blue-grey-500: #6E6C7E;
$blue-grey-600: #6E6C7E;
$blue-grey-700: #6E6C7E;
$blue-grey-800: #6E6C7E;
$blue-grey-900: #6E6C7E;

// Black
$black: #1E1E2E;

// White
$white: #D9E0EE;
