name: "Generate test artifacts"

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install colloid specific dependencies
        run: sudo apt update && sudo apt install -y sassc inkscape optipng

      - name: Generate themes
        run: |
          python sources/patches/xfwm4/generate_assets.py

          python ./build.py mocha --all-accents --zip -d $PWD/releases > mocha.log 2>&1 &
          python ./build.py macchiato --all-accents --zip -d $PWD/releases > macchiato.log 2>&1 &
          python ./build.py frappe --all-accents --zip -d $PWD/releases > frappe.log 2>&1 &
          python ./build.py latte --all-accents --zip -d $PWD/releases > latte.log 2>&1 &
          wait

          cat *.log

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: '${{ github.sha }}-artifacts'
          path: ./releases/*.zip